<div class ="center jumbotron">
  <div>
  <h1>
  <%= link_to image_tag("logoforsite.jpg", alt: "4K Logo", :size => "260x180"), 'https://www.about4ktv.com' %>
  </h1>
</div>
<div>
<h2>What is 4K?</h2>

<p>
    You must understand what 480p, 480i, 720p, 1080i, and 1080p is because 4K is basically 2160p.
  
  Devices that can output video in 480 or content that is recorded in 480 has 480 horizontal scan lines of resolution. 
  The difference between 480p and 480i has to do with <%= link_to "Interlaced(i) vs Progressive(p)", i_vs_p_path %>
  scanning. Generally Progressive scanning will produce a better picture and is recommended over Interlaced scanning.
  The numbers 480, 720, and 1080 are referring to the scan lines of resolution, this generally means the higher the 
  number the higher the resolution.  Older CRT TV's and a picture considered standard definition is normally 480P/i or
  lower, and it normally has an aspect ratio of 4:3(square picture just like the older TV's). A TV(480P) can have 
  640(width) x 480(length) pixels on a screen with an aspect ratio of 4:3((480/3) * 4, (480/3) * 3), but a TV(480p) with
  an aspect ratio of 16:9, can have around 854 X 480 pixels in screen resolution. A TV(480i) has the same amount of pixels
  as 480p, but it uses Interlaced scanning and the picture is not the same. Look at this <%= link_to "pixel chart",
  pixel_chart_path %> for a complete breakdown in pixel difference between the different display resolutions.
  
  Now we can talk about 720p, 1080p and 2160p(4K).  The newer TV's are wider and have an aspect ratio of 16:9, which means
  the amount of pixels a TV outputs in 720 would be ((720/9)*16, (720/9) * 9), which = 1280 x 720, and a TV/device that
  ouputs resolution at 1080p, would have 1920 x 1080 pixels, and a TV/device that can output video at 4K(2160) would have 
  3840 x 2160 pixels. 
   </p>
   
   <h2>What is HDR?</h2>
   
<p>
  High Dynamic Range(HDR) is a new type of technology that many TV's are equipped with.  It basically means colors are more
  vibrant, the contrast is better, you can see darker blacks, and you can see brighter whites.  In the past many TV's had 
  issues with contrast, and specifically darker scenes in a movie were hard to see.  The range of colors is greater if a TV
  is equipped with HDR, and as a result your TV is able to output a more natural and real life picture on the screen.  Think 
  about this, there is the color red but how many different shades of red are there?  A TV equipped with HDR allows it to
  ouput many more different shades of colors/blacks/whites then traditional TV's.
</p>
    
    <h2>What is Ultra HD? What is Ultra HD Premium?</h2>
<p>
  Ultra HD is basically a set of a features and performance standards that allows a TV to provide a Ultra High Definition
  entertainment experience.  Years ago, many technology, entertainment, and electronic companies got together and created the
  Ultra High Definition Alliance(UHDA).  This alliance created this standard and devices that met this standard are allowed to
  use the Ultra HD Premimum logo when selling their TV's/devices.  Ultra HD started coming out around the same time as 4K, and
  many manufacturers primarily focused only on 4K resolution.  TV resolution is not the only feature important for the best
  possible picture.  Devices that are stamped with the Ultra HD Premium logo means they include HDR and have a wide color
  spectrum.
</p>

  <h2>How to get a 4K picture?</h2>
<p>
  Just because you bought your 4K TV doesn't mean your watching 4K, have you noticed that the picture in the store was much
  better then the picture you are currently getting?  There are many factors to consider in order to make sure you are
  getting a 4K picture.  Most cable/satellite providers do not output their channels in 4K and if they have a channel in 4K
  it may only be one channel or two at the most.  Currently Amazon Prime only has a handful of movies in 4K, Netflix actually
  has around 100 titles in 4K although most of them are Netflix originals, and many other websites/apps that offer streaming
  services may not offer 4K at all.  You can also try to download a 4K movie, but just because it says 4K does not mean it 
  is truly 4K.  One way to tell if your downloaded movie is truly 4K is to look at the size of the file.  Standard definition,
  high definition, and 4K definition movies can vary from title to title depending on the bit rate that your device records in.
  The higher the bit rate the content records in will equate to better 
  quality video and will result in a larger size file(<%= link_to "Click here for 4K File Size Information", file_size_path %>).  However, you can only send as
  many bits as the frame rate(FPS) of your device, or refresh rate(30hz, 60hz, 120hz) of your display.  Frame rate is the amount
  of frames your device is able to send per second, refresh rate is the amount of times your display can refresh the picture,
  and bit rate is the amount of data(bits) your device is able to send to your display.
  
  The device that is outputting the content on the display is equally as important as the FPS, bit rate, and refresh rate.  If
  your cable box is sending content in standard definition, then your display will only be able to output that content in 
  standard definition.  If you stream a 4K video from a website then you need to make sure that your internet package has a minimum of 25GB of download speed to prevent buffering.
  <%= link_to "Click here for more info on bit rate, frame rate, and refresh rate", bit_rate_path %>
</p>

<h2>Where to get 4K</h2>
<p>
  
Netflix has over 100 titles listed in 4K, but they are mostly Netflix
originals and as I understand they currently stream 4K at 7GB an hour.  
Keep in mind you will have to upgrade to the highest streaming package
which is around $11.99 in order to receive their 4K content.

Amazon Prime has 4K content, but they only have about 10-15 titles at
the moment.

Retail outlets sell 4K UHD movies on triple layered DVD's, and at the
moment this is probably the best picture that you can get on your TV. 
A 4K UHD DVD player is required as well as a 4K HDMI Cord.  

The XBOX One X and the PS4 PRO are both capable of handling 4K content.

Hulu currently does not have any 4K at this time, and I will not list
any cable providers because they normally only have about one channel
at the most in 4K, and I highly doubt this 4K content can compare to
the quality of the 4K UHD DVD.

You must realize that 4K content if streamed at the highest bit rate 
can go up to 300GB for a two hour movie, but 4K content at the time
being tends to range between 50GB-100GB for a two hour film, and our
Internet service providers cannot handle this amount of traffic.  This
is why 4K content at the time being is somewhat rare, and even if they
do have it they compress the files in order to deal with the traffic on
their network, hence the reason for the low bitrate on the 4K content
they release to the public.  Streaming video which includes 4K has a
significant disadvantage over a 4K UHD DISC on a DVD player, it's not
just the lower bitrate that the streaming videos normally have, it's
the fact that it's streaming at all, because the content is streaming
it's not considered a direct source and sometimes the picture becomes
pixelated due to interruption in the data that is being transmitted to
the TV over the network.  To me it appears that 4K UHD DVD will be
vital to people who demand the best picture possible in their home for
the next two years at the minimum.  Keep in mind it's possible that you
could be streaming 4K video and the data transmission drops which
results in a degration of picture quality, but the video keeps on
streaming making it hard for the user to catch on sometimes.
</p>

</div>
</div>