<%= provide(:title, "Shortcuts") %>
<shorcut class = "shortcut">
<h1><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
  google_ad_client: "ca-pub-5305764191809171",
  enable_page_level_ads: true
  });
</script>
  Shortcuts</h1>

<ul>
  <li><%= link_to "What is 4K?", what_is_4k_path %></li> 
  <li><%= link_to "What is HDR?", hdr_path %></li>
  <li><%= link_to "What is Ultra HD? What is Ultra HD Premium?", ultra_hd_path %></li>
  <li><%= link_to "How to get a 4K picture?", how_4k_path %></li>
  <li><%= link_to "Where to get 4K", where_4k_path %></li>
  <li><%= link_to "Bit rate", bit_rate_path %></li>
  <li><%= link_to "4K File size", file_size_path %></li>
  <li><%= link_to "Interlaced vs Progressive", i_vs_p_path %></li>
  <li><%= link_to "Pixel chart", pixel_chart_path %></li>
</ul>
</shorcut>