<footer class="footer">
  <small>
    The <a href="https://rails-tutorial-dball1126.c9users.io/">About 4K TV</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",    root_path %></li>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "HDR",     hdr_path %></li>
      <li><%= link_to "Bit rate", bit_rate_path %></li>
      <li><%= link_to "File size", file_size_path %></li>
      <li><%= link_to "What is 4K", what_is_4k_path %></li>
      <li><%= link_to "What is HDR", hdr_path %></li>
    </ul>
  </nav>
</footer>